   .bold{ 
     font-size: 50px;
     font-weghit: bold
      }

    .color{
     color: red;
     background-color: yellow;
        }
   
     .light{
      font-size: 20px;
      font-weghit: 100;
        }