*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#result{
    display: flex;
    margin-bottom: 3rem;
}

li{
    background-color: blue;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    font-weight: 600;
    margin: 0 auto;
}

#generate{
    background-color: red;
    color: white;
    padding: 1rem;
    font-size: 30px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

#generate.processing{
    cursor: not-allowed;
    background-color: #BBB;
    pointer-events: none;
}