/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

h1{
    position: relative;
    padding: 0 1rem;
    width: fit-content;
}

h1::before,
h1::after{
    position: absolute;
    top: 0;
    content: "'";
}


h1::before{
    /* position: absolute; */
    /* top: 0; */
    left: -10px;
    /* content: "'"; */
    width: 20px;
    height: 100%;
}

h1::after{
    /* position: absolute; */
    /* top: 0; */
    left: 100%;
    /* content: "'"; */
}