*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.container{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap; 
}

.header{
    margin-bottom: 2rem;
}

.inner{
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.image{
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    aspect-ratio: 1/1;
    position: relative;
    transition: all 0.3s ease;
}

figure{
    height: 100%;
    filter: grayscale(0);
}

.hidden{
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: white;
    width: 100%;
    padding: 0.5rem;
    opacity: 0;
    transform: translateY(50%);
    transition: all 0.3s ease;
}

figure:hover{
    filter: grayscale(90%) blur(1px);
}

.image:hover .hidden{
    opacity: 1;
    transform: translateY(0);
}

@media(min-width:640px){
    .image{
        flex-basis: calc(100%/ 3);
    }
}

@media(min-width:1024px){
    .image{
        flex-basis: calc(100%/ 4);
    }
}