table{
   border: 1px solid black;
   border-collapse: collapse;
   border-style: hidden;
   box-shadow:  0 0 0 1px #000;
   border-radius: 10px;
          }

table tbody th{
    border-right: 5px double black;
          }

table tbody th,
table tbody td{
     border-bottom: 1px solid black;
         }

table tbody tr:nth-child(2){
      background-color: #C7C7C7;
            }

table td{
       padding: 5px 10px;
          }
